<article id="<%= idName %>" class="card-wrap <%= className %>" data-question="<%= number %>">
  <h2 class="question-number">問題 <%= number %></h2>
  <h3 class="question-title"><%= title %></h3>
  <div class="question-content">
    <%= description %>
  </div>
  <ul class="question-btn-list">
    <% buttons.forEach(function(value, i) {%>
    <li><button data-answer="<%= i + 1 %>"><%= value %></button></li>
    <%}) %>
  </ul>
</article>